.logo {
  height: 100px;
  width: auto;
}

.carousel {
  height: auto;
  width: 100%;
  border: none;
  background: white;
  overflow-x: scroll;
}

.characters,
.planets,
.vehicles {
  height: auto;
  display: flex;
}
